<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpa.bbs.mapper.CommentMapper">
  <select id="selectCommentList" resultType="com.mpa.bbs.vo.CommentVO">
    SELECT * FROM ${commentTable}
    WHERE article_id = ${articleId}
  </select>
  <insert id="insertComment">
    INSERT INTO ${commentTable} ( writer, content, created, article_id)
    VALUES (#{comment.writer}, #{comment.content}, NOW(), #{comment.articleId})
  </insert>
</mapper>